/* src/components/Home.css */

.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  text-align: center;
  overflow: hidden;
}

.home-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../assets/fondo.jpeg');
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.8;
}

/* Estilo para los botones de autenticación en la esquina superior izquierda */
.auth-buttons {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  gap: 10px;
}

/* Cambia el color del botón de autenticación para que coincida con el botón de menú */
.auth-button {
  padding: 10px 20px;
  font-size: 0.9em;
  color: #ffffff;
  background-color: #333; /* Color gris oscuro para coincidir con el botón de menú */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.auth-button:hover {
  background-color: #555;
  transform: scale(1.05);
}

/* Estilo del botón de menú */
.menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 1em;
  color: #ffffff;
  background-color: #333; /* Color gris oscuro */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-btn:hover {
  background-color: #555;
}

.header {
  margin-bottom: 20px;
  z-index: 1;
}

.header h1 {
  font-size: 3.5em;
  font-weight: bold;
  margin: 10px 0;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.header p {
  font-size: 1.3em;
  color: #f0f0f0;
  margin-bottom: 30px;
  font-style: italic;
  max-width: 600px;
  line-height: 1.4;
}

.categories {
  display: flex;
  gap: 20px;
  z-index: 1;
}

.category-card {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px 40px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.category-card h2 {
  font-size: 1.5em;
  color: #ffffff;
  margin: 0;
}

.category-card:hover {
  transform: scale(1.05);
  background: rgba(0, 0, 0, 0.8);
}
